@import url('https://fonts.googleapis.com/css2?family=Acme&family=IBM+Plex+Sans+Condensed:ital,wght@1,200&family=Sigmar&display=swap');

body {
    background-color: #eef0eb;
    margin: 0;
    padding: 0;
}

header {
    background-color: #153243;
    color: #B4B8AB;
    font-family: "Acme", 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 10% 200px auto 10%;
}

img {
    grid-column: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    padding-left: 10%;
    grid-column: 3/4;
    align-self: center;
    font-size: 30px;
}

#mode {
    position: absolute;
    left: 1rem;
    right: 1rem;
    grid-column: 4/5;
    font-size: 2rem;
    cursor: pointer;
}

nav {
    background-color: #284b63;
    font-family: "Sigmar", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    text-align: center;
}

a {
    color: #153243;
    font-size: 32px;
    text-decoration: none;
    display: block;
}

nav a {
    display: none;
}

.navigation li a:hover {
    background-color: #B4B8AB;
    color: #153243;
}

#menu {
    box-sizing: border-box;
    color: #153243;
    font-size: 1.5rem;
    background-color: #B4B8AB;
    font-family: "Acme", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    position: absolute;
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: #284b63;
    font-family: "Sigmar", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    text-align: center;
}

.navigation li {
    display: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #B4B8AB;
}

.open li {
    display: block;
}

.open li a {
    display: block;
}

/* .open #temple-label {
    position: absolute;
    top: 50px;
    left: 10px;
} */

.open .hero-label {
    position: absolute;
    top: 730px;
    left: 10px;
}

main {

    background-color: #284b63;
    color: #eef0eb;
    padding-bottom: 40px;

}

picture {
    grid-column: 1/3;
    grid-row: 1/2;
}

picture img {
    width: 100%;
    height: auto;
}

.hero-label {
    position: absolute;
    top: 450px;
    left: 10px;
    background: radial-gradient(#fff, #4D5B97);
    padding: 1rem;
    opacity: 0.75;
    box-shadow: 0 0 3rem #fff;
}

#temple-label {
    font-size: 25px;
}


h2 {
    font-family: "Acme", 'Courier New', Courier, monospace;
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #B4B8AB;
    color: #153243;
    padding-left: 15%;
    font-size: 22px;
    padding-top: 20px;
    margin-top: -0px;
    padding-bottom: 20px;
}

.card-1 {
    grid-row: 3/4;
    grid-column: 2/3;
    border-radius: 5px;
    background-color: hsl(78, 8%, 70%);
    box-shadow: 5px 5px 10px #6f7364;
    height: 1000px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-2 {
    grid-row: 3/4;
    grid-column: 4/5;
    border-radius: 5px;
    background-color: #B4B8AB;
    box-shadow: 5px 5px 10px #6f7364;
    height: 600px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.card {
    border-radius: 5px;
    background-color: #B4B8AB;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 5px 5px 10px #6f7364;
    height: 600px;
    margin-bottom: 20px;
}

h3 {
    font-family: "IBM Plex Sans Condensed", 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-left: 10px;
    background-color: #153243;
    margin-top: auto;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

iframe {
    border-radius: 5px;
    width: 100%;
    height: 600px;
}

footer {
    background-color: #B4B8AB;
    color: #153243;
    height: 200px;
    margin-top: -15px;
}

p {
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Acme", 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #153243;
}